* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(223, 243, 183);
}

.header {
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(229, 245, 192);
    padding: 32px;
    color: #000040;
    border-bottom: 4px solid #000040;
}

/* .header div{
    background-color: green;
    width:5%;
    display: flex;
    flex-direction: row;
} */

.gallery {
    background-color: springgreen;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    /* justify-content:space-evenly; */
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
}

.gallery img {
    background-color: rgb(227, 181, 97);
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
}